BEGIN; CREATE OR REPLACE FUNCTION public.handle_new_user() RETURNS trigger AS $body DECLARE mock_row public.sso_mock_accounts%ROWTYPE; v_first_name TEXT; v_last_name TEXT; v_id_number TEXT; v_course TEXT; v_department TEXT; v_role public.user_role; v_handled_categories TEXT; is_mapua_email BOOLEAN; BEGIN SELECT * INTO mock_row FROM public.sso_mock_accounts WHERE LOWER(TRIM(public.sso_mock_accounts.email)) = LOWER(TRIM(NEW.email)) LIMIT 1; is_mapua_email := (LOWER(TRIM(NEW.email)) LIKE '%@mapua.edu.ph') OR (LOWER(TRIM(NEW.email)) LIKE '%@mymail.mapua.edu.ph'); IF NOT FOUND AND NOT is_mapua_email THEN RAISE EXCEPTION 'Registration failed: Only Mapua email addresses (@mapua.edu.ph or @mymail.mapua.edu.ph) are allowed.'; END IF; IF FOUND THEN v_first_name := mock_row.first_name; v_last_name := mock_row.last_name; v_id_number := mock_row.id_number; v_course := mock_row.course; v_department := mock_row.department; v_handled_categories := mock_row.handled_categories; v_role := CASE WHEN mock_row.role = 'ADMIN' THEN 'ADMIN'::public.user_role WHEN mock_row.role = 'HANDLER' THEN 'HANDLER'::public.user_role WHEN mock_row.role = 'STAFF' THEN 'STAFF'::public.user_role WHEN mock_row.role = 'FACULTY' THEN 'FACULTY'::public.user_role ELSE 'STUDENT'::public.user_role END; UPDATE public.sso_mock_accounts SET is_registered = TRUE WHERE id = mock_row.id; ELSE v_first_name := COALESCE(NEW.raw_user_meta_data->>'first_name', 'Student'); v_last_name := COALESCE(NEW.raw_user_meta_data->>'last_name', 'User'); v_id_number := NEW.raw_user_meta_data->>'student_number'; v_course := NEW.raw_user_meta_data->>'course'; v_department := NULL; v_role := 'STUDENT'::public.user_role; v_handled_categories := NULL; END IF; INSERT INTO public.users (id, email, first_name, last_name, id_number, course, department, role, handled_categories) VALUES (NEW.id, NEW.email, v_first_name, v_last_name, v_id_number, v_course, v_department, v_role, v_handled_categories); RETURN NEW; END; $body LANGUAGE plpgsql SECURITY DEFINER; COMMIT;
